* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

button {
	font-size: 18px;
	padding: 2px;
	border: thin solid black; /* Keeps a visible border */
	background-color: rgba(181, 180, 180, 0.159); /* Ensures a default background */
	color: black; /* Default text color */
	cursor: pointer; /* Makes it clear it's clickable */
	transition: background-color 0.3s ease, color 0.3s ease; /* Smooth effect */
}

button:hover {
	background-color: rgba(181, 180, 180, 0.778); /* Ensures a default background */
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.grid-colors-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.grid-size-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 18px;
}

.grid-size-container > input {
	font-size: 18px;
	padding: 2px;
	border: thin solid black; /* Keeps a visible border */
	background-color: rgba(204, 255, 0, 0.106);
}

.main {
	display: flex;
	flex-direction: row;
	flex: 80%;
	gap: 80px;
}

.sketchpad {
	width: 700px;
	height: 700px;
	border: thin solid black;
}

.grid-favcolor-picker {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2px;
	font-size: 18px;
}

.color-picker > input {
	size: 18px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.cell {
	flex: 1 1 auto; /* Automatically adjusts size */
	aspect-ratio: 1 / 1; /* Ensures perfect square */
	border: thin solid black;
}

.grid-settings {
}

.no-grid-lines {
	border: none !important; /* Remove grid lines - this is used on the cell classlist in javascript*/
}

#toggle-rainbow-colors.active {
	background-color: #ffcc00;
	color: black;
	border-width: thin;
}
